bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
!sbt-launch.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/

generators/gemmini/software/gemmini-rocc-tests/imagenet/resnet50_params.h
sims/firesim/platforms/f1/aws-fpga/Vitis/examples/xilinx_2020.1/host/p2p_fpga2fpga_bandwidth/hw_bins/u250_xdma_201830_2/bandwidth.xclbin
sims/firesim/platforms/f1/aws-fpga/Vitis/examples/xilinx_2020.2/host/p2p_fpga2fpga_bandwidth/hw_bins/u250_xdma_201830_2/bandwidth.xclbin
sims/firesim/platforms/xilinx_vcu118/garnet-firesim/shell/prebuilt/shell.dcp
